flutter_templates/core_base/build/
flutter_templates/core_base/.dart_tool/
flutter_templates/core_base/android/.gradle/
flutter_templates/core_base/android/app/build/
scripts_automation/node_modules/
flutter_templates/generated_apps/
website_portfolio/dist/
website_portfolio/dist/
